{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}Manage Channels{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Channels
            <small class="text-muted">{{ channels|length }}</small>
            <span class="float-right"><a class="btn btn-primary btn-sm"
                                         href="{{ url_for('.new_channel') }}">New Channel</a></span>
        </h1>
    </div>
    {% if channels %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>No.</th>
                <th>Title</th>
                <th>Icon</th>
                <th>websites</th>
                <th>Actions</th>
            </tr>
            </thead>
            {% for channel in channels %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ url_for('blog.show_channel', channel_id=channel.id) }}">{{ channel.title }}</a>
                    </td>
                    <td><img src="{{ channel.icon_file }}" alt="Here's a logo" /> </td>
                    <td>{{ channel.websites|length }}</td>
                    <td>
                        {% if channel.id != 1 %}
                            <a class="btn btn-info btn-sm"
                               href="{{ url_for('.edit_channel', channel_id=channel.id) }}">Edit</a>

                            <form class="inline" method="post"
                                  action="{{ url_for('.delete_channel', channel_id=channel.id) }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <button type="submit" class="btn btn-danger btn-sm"
                                        onclick="return confirm('Are you sure?');">Delete
                                </button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p class="text-muted">Tips: Deleting a channel does not delete the website under that channel.
            The articles under this channel will be moved to the default channel.</p>
    {% else %}
        <div class="tip"><h5>No channels.</h5></div>
    {% endif %}
{% endblock %}
