<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>LSC,Let's surf comfortably</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
		<div class="header-wrap">
			<div id="nav">
					<div class="pros subpage">
						<!--<h2></h2>-->

						<ul class="prosul clearfix" id="proinfo">
							<li class="food bd-solid">
								<i>&gt;</i>
								<a class="ti" href="#">本地服务</a>
								<div class="prosmore">
									<span><em><a href="#">全部(117)</a></em></span>
									<span><em class="morehot"><a class="morehot" href="#">火锅(17)</a></em></span>
									<span><em class="morehot"><a class="morehot" href="#">烧烤(16)</a></em></span>
									<span><em><a href="#">西餐(9)</a></em></span>
									<span><em><a href="#">海鲜(37)</a></em></span>
									<span><em class="morehot"><a class="morehot" href="#">蛋糕(9)</a></em></span>
									<span><em><a href="#">其他(7)</a></em></span>
									<span><em><a href="#">下午茶(5)</a></em></span>
									<span><em><a href="#">咖啡(8)</a></em></span>
								</div>
							</li>
							<li class="enjoy bd-solid">
								<i>&gt;</i>
								<a class="ti" href="#">新闻资讯</a>
								<div class="prosmore hide">
									<span><em><a href="#">全部(663)</a></em></span>
									<span><em class="morehot"><a class="morehot" href="#">电影(18)</a></em></span>
									<span><em class="morehot"><a class="morehot" href="#">KTV(8)</a></em></span>
									<span><em><a href="#">运动健身(95)</a></em></span>
									<span><em><a href="#">游乐电玩(48)</a></em></span>
									<span><em><a href="#">展览演出(13)</a></em></span>
									<span><em class="morehot"><a class="morehot" href="#">足疗按摩(8)</a></em></span>
									<span><em><a href="#">洗浴(11)</a></em></span>
									<span><em><a href="#">其他(29)</a></em></span>
									<span><em><a href="#">采摘(2)</a></em></span>
									<span><em><a href="#">滑雪(4)</a></em></span>
									<span><em><a href="#">温泉(427)</a></em></span>
								</div>
							</li>
							<li class="travel bd-solid">
								<i>&gt;</i>
								<a class="ti" href="#">视频电影</a>
								<div class="prosmore hide">
									<span><em><a href="#">腾讯视频</a></em></span>
									<span><em class="morehot"><a class="morehot" href="#">优酷</a></em></span>
									<span><em><a href="#">爱奇艺</a></em></span>
									<span><em><a href="#">搜狐视频</a></em></span>
									<span><em><a href="#">乐视网</a></em></span>
								</div>
							</li>
							<li class="life bd-solid">
								<i>&gt;</i>
								<a class="ti" href="#">时尚购物</a>
								<div class="prosmore hide">
									<span><em><a href="#">时尚购物</a></em></span>
									<span><em><a href="#">时尚购物</a></em></span>
									<span><em class="morehot"><a class="morehot" href="#">时尚购物</a></em></span>
									<span><em><a href="#">时尚购物</a></em></span>
									<span><em><a href="#">时尚购物</a></em></span>
								</div>
							</li>
							<li class="women bd-solid">
								<i>&gt;</i>
								<a class="ti" href="#">音乐读书</a>
								<div class="prosmore hide">
									<span><em><a href="#">音乐读书</a></em></span>
									<span><em class="morehot"><a class="morehot" href="#">音乐读书</a></em></span>
									<span><em><a href="#">音乐读书</a></em></span>
									<span><em><a href="#">音乐读书</a></em></span>
								</div>
							</li>
							<li class="goods bd-solid">
								<i>&gt;</i>
								<a class="ti" href="#">文化艺术</a>
								<div class="prosmore hide">
									<span><em><a href="#">文化艺术</a> </em></span>
									<span><em class="morehot"><a class="morehot" href="#">文化艺术</a> </em></span>
									<span><em><a href="#">文化艺术</a> </em></span>
									<span><em><a href="#">文化艺术</a> </em></span>
									<span><em><a href="#">文化艺术</a> </em></span>
								</div>
							</li>
							<li class="women bd-solid">
								<i>&gt;</i>
								<a class="ti" href="#">旅行摄影</a>
								<div class="prosmore hide">
									<span><em><a href="#">旅行摄影</a></em></span>
									<span><em class="morehot"><a class="morehot" href="#">旅行摄影</a></em></span>
									<span><em><a href="#">旅行摄影</a></em></span>
									<span><em><a href="#">旅行摄影</a></em></span>
								</div>
							</li>
							<li class="women bd-solid">
								<i>&gt;</i>
								<a class="ti" href="#">历史文化</a>
								<div class="prosmore hide">
									<span><em><a href="#">历史文化</a></em></span>
									<span><em class="morehot"><a class="morehot" href="#">历史文化</a></em></span>
									<span><em><a href="#">历史文化</a></em></span>
									<span><em><a href="#">历史文化</a></em></span>
								</div>
							</li>
							<li class="women bd-solid">
								<i>&gt;</i>
								<a class="ti" href="#">游戏休闲</a>
								<div class="prosmore hide">
									<span><em><a href="#">游戏休闲</a></em></span>
									<span><em class="morehot"><a class="morehot" href="#">游戏休闲</a></em></span>
									<span><em><a href="#">游戏休闲</a></em></span>
									<span><em><a href="#">游戏休闲</a></em></span>
								</div>
							</li>
							<li class="women bd-solid">
								<i>&gt;</i>
								<a class="ti" href="#">更多...</a>
								<div class="prosmore hide">
									<span><em><a href="#">1</a></em></span>
									<span><em class="morehot"><a class="morehot" href="#">2</a></em></span>
									<span><em><a href="#">3</a></em></span>
									<span><em><a href="#">4</a></em></span>
								</div>
							</li>
						</ul>
					</div>
			</div>
		</div>

	<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
	<script type="text/javascript">
		(function(){

			var $subblock = $(".subpage"), $head=$subblock.find('h2'), $ul = $("#proinfo"), $lis = $ul.find("li"), inter=false;

			// 直接显示导航菜单，by lsc
			$ul.show();
			inter = true;

			// 点击按钮打开导航菜单
			$head.click(function(e){
				e.stopPropagation();
				if(!inter){
					$ul.show();
				}else{
					$ul.hide();
				}
				inter=!inter;
			});
			//
			$ul.click(function(event){
				event.stopPropagation();
			});
			// 点击空白区域，关闭交互，隐藏导航菜单，已禁用，by lsc
			$(document).click(function(){
				//$ul.hide();
				//inter=!inter;
			});

			$lis.hover(function(){
				if(!$(this).hasClass('nochild')){
					$(this).addClass("prosahover");
					$(this).find(".prosmore").removeClass('hide');
				}
			},function(){	//鼠标移开面板隐藏
				if(!$(this).hasClass('nochild')){
					if($(this).hasClass("prosahover")){
						$(this).removeClass("prosahover");
					}
					// 注释掉下行代码
					$(this).find(".prosmore").addClass('hide');
				}
			});
			// 鼠标滚动效果代码，by JYJ
			$(document).on('mousewheel DOMMouseScroll', function(e){
				// 如果不可交互，返回
				if(!inter){
					return;
				}
				//
				e.preventDefault();
				var wheel = e.originalEvent.wheelDelta || -e.originalEvent.detail;
				var delta = Math.max(-1, Math.min(1, wheel) );
				var index = $lis.index($ul.find(".prosahover"));
				var lisLength = $lis.length;
				if(delta<0){
					//向下滚动
					if(index<0){
						index++;
						$lis.eq(index).addClass("prosahover");
						$lis.eq(index).find(".prosmore").removeClass('hide');
					}else{
						$lis.eq(index).removeClass("prosahover");
						$lis.eq(index).find(".prosmore").addClass('hide');	
						index = (index+1 == lisLength)? -1: index;
						index++;
						$lis.eq(index).addClass("prosahover");
						$lis.eq(index).find(".prosmore").removeClass('hide');		
					}
				}else{
					//向上滚动
					if(index<0){
						$lis.eq(lisLength-1).addClass("prosahover");
						$lis.eq(lisLength-1).find(".prosmore").removeClass('hide');
					}else{
						$lis.eq(index).removeClass("prosahover");
						$lis.eq(index).find(".prosmore").addClass('hide');	
						index = (index == 0)? lisLength: index;
						index--;
						$lis.eq(index).addClass("prosahover");
						$lis.eq(index).find(".prosmore").removeClass('hide');		
					}
				} 			
			
			});
		})();
		</script>
</body>
</html>
